DATABASE_URL="postgresql://postgres:YOUR_LOCAL_DB_PASSWORD@localhost:5432/myshop"

JWT_SECRET="YOUR_NEW_LOCAL_JWT_SECRET"

NEXT_PUBLIC_SITE_URL="http://localhost:3000"

ZARINPAL_MERCHANT_ID="YOUR_ZARINPAL_MERCHANT_ID"
ZARINPAL_SANDBOX=true

SMS_IR_API_KEY="YOUR_SMS_IR_API_KEY"
SMS_IR_VERIFY_TEMPLATE_ID="642356"
SMS_IR_RESET_PASSWORD_TEMPLATE_ID="104448"